<h1 align=center><font size = 5>LISTS AND TUPLES IN PYTHON</font></h1>


## Table of Contents


<div class="alert alert-block alert-info" style="margin-top: 20px">
<li><a href="#ref0">About the Dataset</a></li>
<li><a href="#ref1">Lists</a></li>
<li><a href="#ref2">Tuples</a></li>
</div>

<a id="ref0"></a>
<center><h2>About the Dataset</h2></center>

<hr>

Imagine you got a number of album recommendations from your friends and compiled all of the recommendations in a table, with specific info about each album.

The table has one row for each album and several columns

- **artist** - Name of the artist
- **album** - Name of the album
- **released_year** - Year the album was released
- **length_min_sec** - Length of the album (hours,minutes,seconds)
- **genre** - Genre of the album
- **music_recording_sales_millions** - Music recording sales (millions in USD)
- **claimed_sales_millions** - Album's claimed sales (millions in USD)
- **date_released** - Date on which the album was released
- **soundtrack** - Indicates if the album is the movie soundtrack (Y) or (N)
- **rating_of_friends** - Indicates the rating from your friends from 1 to 10

The dataset can be seen below:

In [1]:
import pandas as pd
bigmart = pd.read_csv("dataset/music_dataset.csv")
bigmart.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions in USD),Claimed Sales (millions in USD),Released.1,Soundtrack,Ratings (friends)
0,Michael Jackson,Thriller,1982,42:19:00,"Pop, rock, R&B",46.0,65,30/11/82,N,10.0
1,AC/DC,Back in Black,1980,42:11:00,Hard rock,26.1,50,25/07/80,N,8.5
2,Pink Floyd,The Dark Side of the Moon,1973,42:49:00,Prigressive rock,24.2,45,01/03/73,N,9.5
3,Whtney Houston,The Bodyguard,1992,57:44:00,"R&B, soul, pop",27.4,44,17/11/92,Y,7.5
4,Meat Loaf,Bat Out of Hell,1977,46:33:00,"Hard rock, progressive rock",20.6,43,21/10/77,N,7.0

<a id="ref1"></a>
<center><h2>Lists</h2></center>

First of all, we're gonna take a look at lists in Python. A list is a sequenced collection of different objects of Python, such as integers, strings, and other lists as well. The address of each element within a list is called an index. An index is used to access and refer to elements within a list.

<a ><img src = "https://ibm.box.com/shared/static/eln445fv5nzv3wlm4u8dnfhbrcrv0hff.png" width = 1000, align = "center"></a>
  <h4 align=center> Representation of a list  



  </h4>

 To create a list just type the list within square brackets **[ ]** with your content inside the parenthesis and separated by commas. Let’s try it!

In [1]:
album1_info = ["Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
              
album1_info

['Michael Jackson',
 'Thriller',
 1982,
 '00:42:19',
 'Pop, Rock, R&B',
 46.0,
 65,
 '30-Nov-82',
 None,
 10.0]

You can also create a list from a tuple using the **list** type function as shown below. Tuples are being explained in the section below.

In [3]:
album_tuple = ("Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0) 
album1_list = list(album_tuple)

In the code above, the variable album_tuple contains a list of 10 objects, which are a string, a numeric value, and a vector of strings. Easy? However, you must remember that a list can be changed but a tuple cannot. Using the **list** function above, a brand new list is created. Any changes made to  **`album1_list`**  above will not cause the values of  **`album_tuple`**  to change.  Now let's print the content of the list. We just need to call its name.

In [4]:
album_tuple

('Michael Jackson',
 'Thriller',
 1982,
 '00:42:19',
 'Pop, Rock, R&B',
 46.0,
 65,
 '30-Nov-82',
 None,
 10.0)

In [4]:
type (album1_list)

list

A list has a sequence and each element of a list has a position in that sequence, which starts from 0.

### Accessing items in a list
It is possible to retrieve only a part of a list using the **single square  bracket**  operator **[ ]**. This operator can be also used to get a single element in a specific position. Take a look at the next example:

The index number 2 returns the third element of a list, if that element exists, because indexing starts at 0:

In [6]:
album1_list[2]

1982

 This is shown in figure 1:

<a ><img src = "https://ibm.box.com/shared/static/ud1hra6uiqel76ih185ao15g1tlf7cgx.png" width = 1100, align = "center"></a>
  <h4 align=center> Figure 1: Element corresponding to index number 2


  </h4>

Or you can select a part or interval of elements of a list. In our next example we are retrieving the 1st and  2nd elements,this is somtime called **slicing**:

In [8]:
album1_list[0:2]

['Michael Jackson', 'Thriller']

 <a ><img src = "https://ibm.box.com/shared/static/b8311mapjlkyi5w6hl6s3evi4sdlep0l.png" width = 1100, align = "center"></a>
  <h4 align=center> Figure 2: Selecting index 0 through 1 

  </h4>

It's also possible to find the index of an element using the index method. For example you can find the index of "Thriller" as follows:

In [6]:
#album1_list.index("Thriller")

al_list = [1,2,3,4,1,2,3,4]
al_list.index(2)

1

 <a ><img src = "https://ibm.box.com/shared/static/ls9rtp24l60ryuwh1o7akdk2588kwv7e.png" width = 1100, align = "center"></a>
  <h4 align=center> Figure 3: Obtain index corresponding to element “Thriller”


  </h4>

Lists are mutable, so you can remove items from them. For example, if you want to remove the item `'thriller`', use the following line of code: `“album1_list.remove('Thriller')”`

 Lets compare the list before and after:

In [7]:
album1_list

['Michael Jackson',
 'Thriller',
 1982,
 '00:42:19',
 'Pop, Rock, R&B',
 46.0,
 65,
 '30-Nov-82',
 None,
 10.0]

In [11]:
album1_list.remove('Thriller')
album1_list

['Michael Jackson',
 1982,
 '00:42:19',
 'Pop, Rock, R&B',
 46.0,
 65,
 '30-Nov-82',
 None,
 10.0]

### Concatenating lists

Concatenation is the process of putting things together, in sequence. Just use the ** + ** operator, as shown in Figure 4.

 <a ><img src = "https://ibm.box.com/shared/static/hekpo7kngf2xlh1o3pchetn4eno3mgwa.png" width = 1100, align = "center"></a>
  <h4 align=center> Figure 4: Concatenation  of two strings 



  </h4>

Take a look at the next example code:

In [8]:
album_titles1 = ["Thriller", "Back in Black"]

album_titles2 = ["The Dark Side of the Moon", "The Bodyguard"]

In [9]:

album_titles1 + album_titles2

['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard']

<a id="ref2"></a>
<center><h2>Tuples</h2></center>

**Tuples** are similar to lists, but the data cannot be changed. Tuples elements are also accessed using indexing. It would be good to store the music genres in tuples because they do not change very often.

Here are some examples of tuples in Python:

In [10]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

To get the length of a tuple, that is, the number of elements, use the length function, like this:

In [11]:
len(genres_tuple)

8

 We can visualize this in the below figure.

 <a ><img src = "https://ibm.box.com/shared/static/n4969qbta8hhsycs2dc4n8jqbf062wdw.png" width = 1100, align = "center"></a>
  <h4 align=center> Figure 5:Number of elements in the tuple “genres_tuple”




  </h4>

You can access a specific element , the value of index 3 is “hard rock ” as illustrated in figure 6

 <a ><img src = "https://ibm.box.com/shared/static/s6r8v2uy6wifmaqv53w6adabqci47zme.png" width = 1100, align = "center"></a>
  <h4 align=center> Figure 6: accessing the element at index 3 of “genres_tuple”

  </h4>

 the code is given by:

In [16]:
genres_tuple[3]

'hard rock'

Like lists You can get multiple elements by slicing  Index 3:6:

In [17]:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

 This corresponds to elements in index’s 3 to 5

<a ><img src = "https://ibm.box.com/shared/static/nqo84vydw6eixdex0trybuvactcw7ffi.png" width = 1100, align = "center"></a>
  <h4 align=center> Figure 7: Slicing the tuple “genres_tuple”

  </h4>

You can get the index of a tuple by coding the value using the index function, like this:

In [18]:
genres_tuple.index("R&B")

5

Finding the index corresponding to the element “R&B”  :

<a ><img src = "https://ibm.box.com/shared/static/nqo84vydw6eixdex0trybuvactcw7ffi.png" width = 1100, align = "center"></a>
  <h4 align=center> Figure 7: Finding the index corresponding to the element “R&B” : 

  </h4>

Note that you cannot sort tuples. If you try, you will get an error.

You can create a list from a tuple like this:

In [13]:
genres_list = list(genres_tuple) 
genres_list

['pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco']

Now you can sort the list:

In [20]:
genres_list.sort() 
genres_list

['R&B',
 'disco',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul']

You can't directly sort a tuple, because that would be modifying it, and tuples are immutable. However, the above method, as well as the **`sorted`** function below, can be used to create a sorted list from a given a tuple. For example:

#### Generate a sorted List from the Tuple C_tuple=(-5,1,-3)

In [15]:
C_tuple = (-5, 1, -3)
C_tuple.pop()

AttributeError: 'tuple' object has no attribute 'pop'