<h1 align=center> Python BASICS </h1>

---
- For whole understanding of python basics we have used big mart sales dataset and have tried to perform every python functionality on this dataset and show you how python works on real use cases for better understanding.

## Table of Contents


<div class="alert alert-block alert-info" style="margin-top: 20px">
<li><a href="#ref0">About the Dataset</a></li>
<li><a href="#ref9">Comments</a></li>
<li><a href="#ref10">DocString in python</a></li>
<li><a href="#ref11">Python Indentation</a></li>
<li><a href="#ref12">Python Statements</a></li>
<li><a href="#ref7">Python Keywords</a></li>
<li><a href="#ref8">Python Identifier</a></li>
<li><a href="#ref1">Python Variable</a></li>
<li><a href="#ref2">Python Numbers</a></li>
<li><a href="#ref3">Strings in Python</a></li>
<li><a href="#ref4">Python Casting</a></li>
<li><a href="#ref5">Simple Math in Python</a></li>
<li><a href="#ref6">Python Operators</a></li>
</div>

<a id="ref0"></a>
<h1 align=center> About the Dataset </h1>

---
The data scientists at BigMart have collected 2013 sales data for 1559 products across 10 stores in different cities. The data also includes certain attributes of each product and store.

In [1]:
import pandas as pd
bigmart = pd.read_csv("dataset/bigmart.csv")
bigmart.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

**Note:** To understand the basics of python first, we have to import dataset in jupyter notebook using Python pandas library. Please donâ€™t stress out about pandas as we will discuss about it in the future.

### We can use Python to help us explore the dataset
But to begin, we'll need to start from the basics, so let's get started!
<br>
<br>

<a id="ref9"></a>
<h1 align=center> Comments</h1>

---

Comments are lines that exist in computer programs that are ignored by compilers and interpreters and is part of best practises followed.

Including comments in programs makes code more readable for humans as it provides some information or explanation about what each part of a program is doing.

In general, it is a good idea to write comments while you are writing or updating a program as it is easy to forget your thought process later on, and comments written later may be less useful in the long term.

In Python, we use the hash (#) symbol to start writing a comment.

In [2]:
#Print Hello, world to console
print("Hello, world")

Hello, world

## Multi Line Comments

If we have comments that extend multiple lines, one way of doing it is to use hash (#) in the beginning of each line.

In [3]:
#This is a long comment
#and it extends 
#Multiple lines

Another way of doing this is to use triple quotes, either ''' or """.

In [4]:
"""This is also a
perfect example of
multi-line comments"""

'This is also a\nperfect example of\nmulti-line comments'

<a id="ref10"></a>
<h1 align=center>DocString in python</h1>

---

Docstring is short form for documentation string.

It is a string that occurs as the first statement in a module, function, class, or method definition.

In [6]:
def double(num):
    """
    function to double the number
    """
    return 2 * num

print(double(10))

20

In [8]:
print(double.__doc__) #Docstring is available to us as the attribute __doc__ of the function

    function to double the number

<a id="ref11"></a>
<h1 align=center>Python Indentation</h1>

---

- Most of the programming languages like C, C++, Java use braces { } to define a block of code. Python uses indentation.

- A code block (body of a function, loop etc.) starts with indentation and ends with the first unindented line. The amount of indentation is up to you, but it must be consistent throughout that block.

- Generally four whitespaces are used for indentation and is preferred over tabs.

In [9]:
for i in range(10):
print(i)

IndentationError: expected an indented block (<ipython-input-9-0c8aafc23d7e>, line 2)

Indentation can be ignored in line continuation. But it's a good idea to always indent. It makes the code more readable.

In [11]:
if True:
    print("Machine Learning")
    c = "AAIC"

Machine Learning

In [13]:
if True: print ("Machine Learning"); c = "AAIC"

Machine Learning

<a id="ref12"></a>
<h1 align=center> Python Statement</h1>

---



Instructions that a Python interpreter can execute are called statements.

Examples:

In [14]:
 a = 1  #single statement

## Multi-Line Statement

In Python, end of a statement is marked by a newline character. But we can make a statement extend over multiple lines with the line continuation character (\).

In [15]:
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8

In [16]:
print(a)

36

In [17]:
#another way is
a = (1 + 2 + 3 +
    4 + 5 + 6 + 
    7 + 8)
print(a)

36

In [18]:
a = 10; b = 20; c = 30   #put multiple statements in a single line using ;

<a id="ref7"></a>
<h1 align=center> Python Keywords</h1>

---
- Keywords are the reserved words in python

- We can't use a keyword as variable name, function name or any other identifier

- Keywords are case sentive

In [20]:
#Get all keywords in python 3

import keyword

print(keyword.kwlist)

print("Total number of keywords ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total number of keywords  35

<a id="ref8"></a>
<h1 align=center> Python Identifier </h1>

---

Identifier is the name given to entities like class, functions, variables etc. in Python. It helps differentiating one entity from another.

Rules for Writing Identifiers:

- Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).

- An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.

- Keywords cannot be used as identifiers.

<a id="ref1"></a>
<h1 align=center> Python Variable </h1>

---
- Variables are representations of quantities.

- They can be given any name and can hold any value.

## Rules for creating variable names:

1. Must begin with a letter (a - z, A - B) or underscore (_)
2. Other characters can be letters, numbers or _
3. Case Sensitive
4. Can be any (reasonable) length
5. There are some reserved words which you cannot use as a variable name because Python uses them for other things.

We can also **store** our output in **variables**, so we can use them later on. For example:

In [21]:
x = 43 + 60 + 16 + 41

### Output Variable:

1. Python **print** statement is often used to output variables.
2. Or you can just type varibale name to see output.

To return the value of **`x`**, we can simply run the variable as a command:

In [22]:
print(x)

160

In [23]:
x

160

We can also perform operations on **`x`** and save the result to a **new variable**:

In [24]:
y = x / 40
y

4.0

If we save something to an **existing variable**, it will **overwrite** the previous value:

In [25]:
x = x / 40
x

4.0

It's good practice to use **meaningful variable names**, so you don't have to keep track of what variable is what:

In [26]:
total_min = 43 + 60 + 16 + 41
total_min

160

In [27]:
total_hr = total_min / 80  
total_hr

2.0

You can put this all into a single expression, but remember to use **round brackets** to add together the album lengths first, before dividing by 40.

In [28]:
total_hr = (43 + 60 + 16 + 41) / 40  # get total hours in a single expression
total_hr

4.0

To combine both text and a variable, Python uses the **+ character**:

In [29]:
x = "awesome"
print("Python is " + x)

Python is awesome

You can also use the + character to add a variable to another variable:

In [30]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

For numbers, the + character works as a mathematical operator:

In [31]:
x = 5
y = 10
print(x + y)

15

If you try to combine a string and a number, Python will give you an error:

In [32]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**Note:** Similarly bigmart dataset is loaded into the bigmart varibale as shown in the **About the dataset** segment.

<br>
<br>

<a id="ref2"></a>
<h1 align=center> Python Numbers </h1>

---
There are three numeric types in Python:

- int
- float
- complex

Variables of numeric types are created when you assign a value to them:

In [33]:
x = 1       # int
y = 1.8    # float
z = 4j      # complex

To verify the type of any object in Python, use the **type()** function as it detects it automatically:

In [35]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

## Int

- Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [36]:
x = 1
y = 35656222554887711
z = -3255522
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

## Float

- Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [37]:
x = 1.20
y = 1.1
z = -32.55
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [38]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

## Complex

- Complex numbers are written with a "j" as the imaginary part:

In [39]:
x = 1+3j
y = 3j
z = -3j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

<a id="ref3"></a>
<h1 align=center>Strings in Python</h1>

Python isn't just about numbers -- we can also have strings too. For example:

In [40]:
item_fat_content = "Low Calories"
item_fat_content

'Low Calories'

In Python, you can identify **Strings** when they are wrapped with **matching double (") or single (') quotes**.

Let's create a **String array** for the following **items types**:
- Dairy
- Soft Drinks
- Meat
- Fruit
- Vegetables
- Household Items

In [41]:
items = ["Dairy", "Soft Drinks", "Meat", "fruits", "Vegetables", "Household Items"] 
items

['Dairy', 'Soft Drinks', 'Meat', 'fruits', 'Vegetables', 'Household Items']

<br>
<br>
<a id="ref4"></a>
<h1 align=center>Python Casting</h1>

---

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

- int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)
- float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [42]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [43]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [44]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [45]:
print(type(x))
print(type(y))
print(type(z))
print(type(w))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [46]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [47]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'str'>
<class 'str'>

<a id="ref5"></a>
<h1 align=center>Simple Maths in Python</h1>

---

Let's say you want to calculate the amount of your purchase and you bought items **soft drinks**, **meat**, **fruits and vegetables**. Let's try using simple math in Python.

What is the **total amount**. Items MRP are:
- **Soft Drink**: 48.2692
- **Meat**: 141.6180
- **fruits and Vegetables**: 182.0950

In [48]:
48.2692 + 141.6180 + 182.0950

371.98220000000003

Great! You've determined that the total amount of items is **371.98**.

Now let's say you want to buy one more meat so now the total amount is:

In [49]:
48.2692 + 2*141.6180 + 182.0950

513.6002

<a id="ref6"></a>
<h1 align=center>Python Operators</h1>

---
1. **Arithmetic Operators:** Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication and division.

<img src = "images/arith_operators.png" width = 700, align = "center">

In [50]:
# Examples of Arithmetic Operator 
a = 86
b = 54
  
# Addition of numbers 
add = a + b 
# Subtraction of numbers  
sub = a - b 
# Multiplication of number  
mul = a * b 
# Division of number  
div1 = a / b 
# Modulo of both number 
mod = a % b

In [52]:
print("Addition of numbers: %s" %(add))  
print("Subtraction of numbers: %s" %(sub))  
print ("Multiplication of numbers: %s" %(mul))  
print("Division of numbers: %s" %(div1))  
print ("Modulo of numbers: %s" %(mod))

Addition of numbers: 140
Subtraction of numbers: 32
Multiplication of numbers: 4644
Division of numbers: 1.5925925925925926
Modulo of numbers: 32

2. **Relational Operators:** Relational operators compares the values. It either returns **True or False** according to the condition.

<img src = "images/relational_operators.png" width = 700, align = "center">

In [53]:
print(a > b) 

print(a < b) 

print(a == b) 

print(a != b) 

print(a >= b) 

print(a <= b)

True
False
False
True
True
False

3. **Logical operators:** Logical operators perform Logical **AND**, Logical **OR** and Logical **NOT** operations.

<img src = "images/logical_operators.png" width = 700, align = "center">

In [54]:
a = True
b = False

print(a and b) 

print(a or b) 

print(not a)

False
True
False

4. **Bitwise operators:** Bitwise operators acts on bits and performs bit by bit operation.

<img src = "images/bitwise_operators.png" width = 700, align = "center">

In [55]:
a = 10
b = 4
  
# Print bitwise AND operation   
print(a & b) 
  
# Print bitwise OR operation 
print(a | b) 
  
# Print bitwise NOT operation  
print(~a) 
  
# print bitwise XOR operation  
print(a ^ b) 
  
# print bitwise right shift operation  
print(a >> 2) 
  
# print bitwise left shift operation  
print(a << 2)

0
14
-11
14
2
40

---