<img src = "images/Right logo Transparent Big.png" width = 300, align = "center">

<h1 align=center><font size = 5>LOOPS AND CONDITIONAL EXECUTION IN PYTHON</font></h1>

## Table of Contents


<div class="alert alert-block alert-info" style="margin-top: 20px">

<li><a href="#ref0">About the Dataset</a></li>
<li><a href="#ref1">Control statements</a></li>
<li><a href="#ref2">Conditional Execution</a></p></li>
<li><a href="#ref3">Loops</a></li>
</div>

<hr>

<a id="ref0"></a>
<h2 align=center>About the Dataset</h2>

Imagine you got many movie recommendations from your friends and compiled all of the recommendations in a table, with specific info about each movie.

The table has one row for each movie and several columns

- **artist** - Name of the artist
- **album** - Name of the album
- **released_year** - Year the album was released
- **length_min_sec** - Length of the album (hours,minutes,seconds)
- **genre** - Genre of the album
- **music_recording_sales_millions** - Music recording sales (millions in USD)
- **claimed_sales_millions** - Album's claimed sales (millions in USD)
- **date_released** - Date on which the album was released
- **soundtrack** - Indicates if the album is the movie soundtrack (Y) or (N)
- **rating_of_friends** - Indicates the rating from your friends from 1 to 10
<br>

You can see the dataset here:

In [1]:
import pandas as pd
bigmart = pd.read_csv("dataset/music_dataset.csv")
bigmart.head()

,artist,album,released_year,length_min_sec,genre,music_recording_sales_millions,claimed_sales_millions,date_released,soundtrack,rating_of_friends
0,Michael Jackson,Thriller,1982,42:19:00,"Pop, rock, R&B",46.0,65,30/11/82,N,10.0
1,AC/DC,Back in Black,1980,42:11:00,Hard rock,26.1,50,25/07/80,N,8.5
2,Pink Floyd,The Dark Side of the Moon,1973,42:49:00,Prigressive rock,24.2,45,01/03/73,N,9.5
3,Whtney Houston,The Bodyguard,1992,57:44:00,"R&B, soul, pop",27.4,44,17/11/92,Y,7.5
4,Meat Loaf,Bat Out of Hell,1977,46:33:00,"Hard rock, progressive rock",20.6,43,21/10/77,N,7.0

<hr>

<a id="ref1"></a>
<center><h2>Control statements and Loops</h2></center>

A **Control statements**  is a statement that determines whether other statements will be executed. An **Conditional statement** decides whether to execute another statement, or decides which of two statements to execute. A **loop** decides how many times to execute another statement.

<hr>

<a id="ref2"></a>
<center><h2>Conditional Statements</h2></center>

We often want to check a conditional statement and then do something in response to that condition being true or false.

### If Statements

**If** statements are composed of a conditional check and a block of code that is executed if the check results in **True**.

We want to create a if statement that  checks if the value stored in album_year is greater than 1980 . If the year of the album is greater than 1980 we want to output a message “Year is greater than 1980”. This is demonstrated in Figure 1 :

 <a ><img src = "https://ibm.box.com/shared/static/0ej80mraazl727vcryvafkqtp61jkhf2.png" width = 500, align = "center"></a>
  <h4 align=center> Figure 1: An example of an if  statement example 
 
  </h4>

The next cell has a block of code to perform the above procedure. We set the value of “album_year”  to 1983.  See what happens when you uncomment the second value of album_year.

In [3]:
album_year = 1983
#album_year=1970
if album_year > 1980:
    print("Album year is greater than 1980")
    
print("")
print('do something..')

Album year is greater than 1980

do something..

Feel free to change **`album_year`**'s value to other values -- you'll see that the result changes based on it!

Notice that the code in the above **indented** block will only be executed if the check results in **True**.

 You can also add an `else` block to the `if` block -- the code in `else` block will only be executed if the check results in **False**.

**Syntax:** 

if (condition):
    # do something
else:
    # do something else

 If the condition in the if statement  is false the statement after the else block will execute. This is demonstrated in figure 2.

 <a ><img src = "https://ibm.box.com/shared/static/zygha3mwjwrcfok2jrivu7z5iirt4xgt.png" width = 500, align = "center"></a>
  <h4 align=center> Figure 2:An example of an if else statement 
  </h4>

In [6]:
album_year = 1983
#album_year=1970
if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")
print("")
print('do something..')

Album year is greater than 1980

do something..

Feel free to change **`album_year`**'s value to other values -- you'll see that the result changes based on it!

### To create our conditional statements to be used with **`if`** and **`else`**, we have a few tools:

### Comparison operators
When comparing two values you can use these operators:

<ul>
<li>equal: `==`
<li>not equal: `!=`
<li>greater/less than: `>` `<` </li>
<li> greater/less than or equal: `>=` `<=` </li>
</ul>

These logical operators can be summarized with true tables:

### Logical operators
Sometimes you want to check more than one condition at once. For example you might want to check if one condition **and** another condition are true. Logical operators allow you to combine or modify conditions.

<ul>
<li> `and`
<li> `or`
<li> `not` 
</ul>

These operators are summarized for two variables using the following truth tables:

 <a ><img src = "https://ibm.box.com/shared/static/kbkqfu6apx9wczu79j6ug8xs9c6tt3d3.png" width = 500, align = "center"></a>
  <h4 align=center> 
  </h4>

 The **and** statement is only true when both conditions are true. The **or** statement is true if one condition is true.	Finally the **not** statement outputs the opposite truth value.

We would like to determine if an album was released after 1980 and  before 1990. Both time periods between 1981 and 1989 satisfy this condition. This is demonstrated in figure 3 the green on line a and line b represent periods where the statement is true. The green region in Line c represents where both conditions are true, this corresponds to where the green regions overlap.

 <a ><img src = "https://ibm.box.com/shared/static/mtvdx315p1a2bp6e1vqv3uppnzp3wu2i.png" width = 500, align = "center"></a>
  <h4 align=center> Figure 3: An example of an if else statement 
  </h4>

 The block of code to perform this check is given by:

In [16]:
album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1981 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1981 and 1989

Do Stuff..

If we would like to determine if an album was released before 1980 or after 1990 we can use an or statement. Periods before 1981 or after 1989 satisfy this condition. This is demonstrated in figure 4, the green region on line a and line b represent periods where the statement is true. The green region in line c represents where at least one of the conditions are true.

 <a ><img src = "https://ibm.box.com/shared/static/lw0zehvs2rrs9yjit5i0mf2zgtfe6rl1.png" width = 500, align = "center"></a>
  <h4 align=center> Figure 4: An example of an if else statement 
  </h4>

The block of code to perform this check is given by:

In [17]:
album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

The not statement checks if the statement is false:

In [22]:
album_year = 1983

if not (album_year == '1984'):
    print ("Album year is not 1984")

Album year is not 1984

### Slicing

You can select sections of lists, tuples, and NumPy arrays using slicing. In its basic form, slicing consists of **start:stop** passed to the indexing operator [ ]. Let’s demonstrate with some examples:

For this example we will use the following list:

In [25]:
album_release = [1982,1980,1973,1992,1977]
album_release

[1982, 1980, 1973, 1992, 1977]

 <a ><img src = "https://ibm.box.com/shared/static/58i7118g8w8zucbokkhp98p8zt9scmxr.png" width = 500, align = "center"></a>
  <h4 align=center> Figure 5: The list "album_release"
  </h4>

 Lets select the elements in the red box  corresponding to index’s number 1,2,3

<a ><img src = "https://ibm.box.com/shared/static/m66v9jrep05dyc3l4521jxf5rhzbbfxi.png" width = 500, align = "center"></a>
  <h4 align=center> Figure 6: Example of list with elements we would like to select highlighted in red  
  </h4>

We can select index 1 through 3 using the following code:

In [26]:
album_release[1:4]

[1980, 1973, 1992]

Either the start or stop can be omitted in which case they default to the start of the sequence and the end of the sequence, respectively.

If you would  like index 0 through 3:

<a ><img src = "https://ibm.box.com/shared/static/ki3m0uah2518c8eblyts9xkipnct66j0.png" width = 500, align = "center"></a>
  <h4 align=center> Figure 7: Example of selecting index’s 0 through 3  

  </h4>

you can use the following command:

In [29]:
album_release[:4]

[1982, 1980, 1973, 1992]

If we would like to select all elements after index 2:

<a ><img src = "https://ibm.box.com/shared/static/ub3pr27xmasm7j6kra0f1r2vp20w7g5e.png" width = 500, align = "center"></a>
  <h4 align=center> Figure 8: Example of selecting index’s 3 through 4  

  </h4>

In [31]:
album_release[3:]

[1992, 1977]

A step can also be used after a second colon to take every other element:

In [34]:
album_release[::2]

[1982, 1973, 1977]

 Indices may also be negative numbers, to start counting from the right since -0 is the same as 0, negative indices start from -1:

 <a ><img src = "https://ibm.box.com/shared/static/kgxvlg5knali1pu9i8u8voqkn6csx6n2.png" width = 500, align = "center"></a>
  <h4 align=center> Figure 9: Example of indices as negative numbers

  </h4>

You can access the last index of a list:

  <a ><img src = "https://ibm.box.com/shared/static/6ne5fv4uilrekf3ykqg0mm8zyvaduy9c.png" width = 500, align = "center"></a>
  <h4 align=center> Figure 10: Example of indices Example of inedex -1

  </h4>

with the following command :

In [35]:
album_release[-1]

1977

Similarly you can access the second lastelement of the list:

 <a ><img src = "https://ibm.box.com/shared/static/b3qqfg51l9gsz0k53gckasmw8spokxum.png" width = 500, align = "center"></a>
  <h4 align=center> Figure 11: Example of inedex -2

  </h4>

In [36]:
album_release[-2]

1992

We can also use negative indexing with slicing, for example we could use the following command to return all but the last element in the list:

In [37]:
album_release[:-1]

[1982, 1980, 1973, 1992]

This is demonstrated in figure 12

<a ><img src = "https://ibm.box.com/shared/static/nqomzjterq0e290jmchdeplsgkmsv7am.png" width = 500, align = "center"></a>
  <h4 align=center> Figure 12: Example of indices -2 to -5

  </h4>

<a id="ref3"></a>
<center><h2>Loops</h2></center>

Sometimes, you might want to repeat a given function many times. Maybe you don't even know how many times you want it to execute, but have an idea like `once for every row in my dataset`. Repeated execution like this is supplemented by **loops**. We will look at two types of loops  , **`for`** and **`while`**.

Before we discuss loops lets discuss the “range” object. It is helpful to think of the range object as a ordered list. For now lets look at the simplest case, if we would like to generate a sequence that contains 3 elements ordered from 0 to 2  we simply use the following command.

<a ><img src = "https://ibm.box.com/shared/static/mxzjehamhqq5dljnxeh0vwqlju67j6z8.png" width = 300, align = "center"></a>
  <h4 align=center> Figure 13:Example of range function.

  </h4>

### The `for` loop
The `for` loop  enables you to execute a code block multiple times. For example if you would like to print out every element in a list.    
Let's try to use a **`for`** loop to print all the years present in **`dates`**.

This can be done as follows:

In [40]:
dates = [1982,1980,1973]
N=len(dates)

for i in range(N):
     
    print(dates[i])

1982
1980
1973

The code in the indent is executed N times, each time the value of i is increased by 1 for every execution. The statement executed is to print out the value in the list at index i as show in figure 14.

<a ><img src = "https://ibm.box.com/shared/static/w021psh5dtxcl2qheyc5d19d8tik7vq3.gif" width = 1000, align = "center"></a>
  <h4 align=center> Figure 14: Example of indices as negative numbers

  </h4>

 Can directly access the elements in the list as follows:

In [41]:
for year in dates:  
    print(year)

1982
1980
1973

For each iteration the value of the variable “years” behaves like the value of “dates[i]” in the previous cell.

<a ><img src = "https://ibm.box.com/shared/static/zljq7m9stw8znv7ca2it6vkekaudfuwf.gif" width = 1100, align = "center"></a>
  <h4 align=center> Figure 15: Example of a for loop

  </h4>

### The `while` loop
As you can see, the `for` loop is useful for a controlled flow of repetition. However, what if we don't know when we want to stop the loop? What if we want to keep executing a code block until a certain threshold has been reached, or maybe when a logical expression finally results in an expected fashion?

The `while` loop exists as a tool for repeated execution based on a condition. The code block will keep being executed until the given logical condition returns a `False` boolean value.

Here is an example of using a while loop.

Let’s say we would like to iterate through list “dates” and stop at the year 1973 , then print out the number of iterations.  this can be done with the following block of code:

In [43]:
dates = [1982,1980,1973,2000]

i=0;
year=0
while(year!=1973):
    year=dates[i]
    i=i+1
    print(year)
    
    
print("it took ", i ,"repetitions to get out of loop")

1982
1980
1973
('it took ', 3, 'repetitions to get out of loop')

A while loop simply iterates until the condition in the argument  is not  met as shown in figure 16:

<a ><img src = "https://ibm.box.com/shared/static/hhe9tiskw1qqpycs4b8l2l2q58e2kn54.gif" width = 1000, align = "center"></a>
  <h4 align=center> Figure 16: Example of indices as negative numbers

  </h4>

<hr>